
h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  margin:50px 30px;
}

#game-menu, #battle-menu {
  display: block;
}

#screent {
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
}
