body {
  font-family: 'Press Start 2P', arial;
  font-size: 7px;
}
form {
  margin-top: 1%;
  margin-bottom: 1%;
}
.container {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
}
.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.glow {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 70px #000, 0 0 80px #000, 0 0 100px #000, 0 0 150px #000;
  }
  to {
    text-shadow: 0 0 5px #222, 0 0 10px #222, 0 0 15px #222, 0 0 20px #222, 0 0 35px #222, 0 0 40px #222, 0 0 50px #222, 0 0 75px #222;
  }
}
.jumbotron {
  font-size: 1rem;
  background-image: url("../img/yfl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.9;

  z-index: -1;
  min-width: 200px;
  min-height: auto;
  width: 100%;
  height: auto;
  padding: 80px 0;

  text-align: center;
}
.row {
  margin-left: 0;
}
.foe {
  padding: 3px;
  text-align: center;
}

h1 {
  color: gray;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
}

form {
  margin:50px 30px;
}

#game-menu, #battle-menu {
  display: block;
}

#monster-stat {
  float:right;
}

#message {
  margin-top: 50px;
  padding: 5px;
}

img {
  margin-left: 30%;
  margin-right: 30%;
  display: none;
  width: 75px;
  height:100px;
  margin-bottom: 3%;
}
